@model U4_ControlUsuario.Models.Usuario
@{
    Layout = "_Layout";
}

<form method="post" action="~/Home/EliminarPerfil">
    <input type="hidden" asp-for="Id" />
    <h1>Eliminar Perfil</h1>
    <h3>¿Deses eliminar tu cuenta?</h3>        
        <input type="submit" value="Aceptar" />
        <a href="~/Home/Index">
            <input type="button" value="Cancelar" />
        </a>    
</form>
