
@{
    Layout = "_Layout";
}


<form class="formularios" action="~/Home/IniciarSesion" method="post">
    <h3>Iniciar sesión</h3>
    <label>Correo electrónico:</label>
    <input type="text" name="correo" />
    <label>Password:</label>
    <input type="password" name="contraseña" /><br />
    <input name="persistencia" type="checkbox" value="True" /><label for="persistencia">Mantener la sesión iniciada</label>
    <input type="submit" value="Iniciar" />
    <p>@Html.ValidationSummary()</p>
    <label>¿No tienes una cuenta?</label>
    <a href="~/Home/Registrarse" >¡Regístrate!</a>
    <label>¿Olvidaste tu contraseña?</label><a href="~/Home/RecuperarContraseña">Recuperar contraseña</a>
</form>


