@model U4_ControlUsuario.Models.Usuario
@{
    Layout = "_Layout";
}

<h2 class="titulo">Recuperar Contraseña</h2>
<div class="divMain">
    <form class="formularios" method="post" action="~/Home/RecuperarContraseña">
     
        <label>Correo electrónico:</label>
        <input asp-for=" CorreoElectronico" type="email" />
        <p>@Html.ValidationSummary()</p>
        <input type="submit" class="boton" value="Recuperar" />
        <a href="~/Home/Index" class="link">
            <input type="button" class="boton" value="Cancelar" />
        </a>
    </form>
</div>


