@model U4_ControlUsuario.Models.ViewModels.RegistrarseViewModel
@{
    Layout = "_Layout";
}


<h2 class="titulo">Reset Password</h2>
<div >
    <form class="formularios" method="post" action="~/Home/ResetContraseña">
        <input type="hidden" asp-for="NuevoUsuario.Id" />
        <table>
            <tr>
                <td>  <label>Nueva Contraseña:</label></td>
                <td> <input type="password" class="field" asp-for="NuevoUsuario.Contrasena" /><br /><br /></td>
            </tr>
            <tr>
                <td> <label>Confirmar Contraseña:</label></td>
                <td> <input type="password" class="field" asp-for="ConfirmarContraseña" required /></td>
            </tr>
        </table>                  
       
        <p>@Html.ValidationSummary()</p>
        <input type="submit" value="Reset password" class="boton" />
        <a href="~/Home/Index" class="link">
            <input type="button" class="boton" value="Cancelar" />
        </a>
    </form>
</div>