

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link href="~/estilos.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <title></title>

</head>
<body>
    <header>
        <h1>SHEIN FOR ASSOCIATES</h1>
    </header>
    <main>
        @RenderBody()
    </main>   
    <footer>
        <div class="redes-sociales">
            <a target="_blank" class="link" href="http://facebook.com/">FACEBOOK</a>
            <a target="_blank" class="link" href="http://instagram.com/"> INSTAGRAM </a>
            <a target="_blank" class="link" href="http://twitter.com/">TWITTER </a>
            <a target="_blank" class="link" href="http://youtube.com/">YOUTUBE</a>
            <label>|</label>
            <label>Nuestras redes</label>
        </div>
        <div>
            <h3>
                By Esmeralda Lopez 2020
            </h3>
        </div>
    </footer>
</body>
</html>