
@{
    ViewData["Title"] = "_Layout";
}

<html>
<head>    
    <link href="~/estilos.css" rel="stylesheet" />
</head>

<body>
    <header>
        <h1>UNIDAD 4. SEGURIDAD</h1>
        <p id="IniciarSesion">
            <a href="~/Home/Index">@User.Identity.Name</a>
            <a href="~/Home/IniciarSesion">Iniciar Sesión</a>
            <a href="~/Home/CerrarSesion">Cerrar Sesión</a>
        </p>
    </header>
    <main>
        @RenderBody()
    </main>
   
</body>
</html>
