@model u4_2_RolesUsuario.Models.Alumno
@{
    Layout = "_Layout";
}



<div class="central">
    <h2 class="titulo">Agregar Alumno</h2>

    <form method="post" action="~/Home/AgregarAlumno">
        <table class="tabla">
            <tr>
                <td>
                    <label id="nombremaestro">Nombre del alumno:</label>
                </td>
                <td>
                    <input class="field" type="text" id="txtIniciarSesion" name="nombre" asp-for="Nombre" required /><br /><br />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Grupo:</label>
                </td>
                <td>
                    <input class="field" type="text" id="txtIniciarSesion" name="grupo" required asp-for="Grupo" /><br /><br />
                </td>
            </tr>
        </table>

        <p>@Html.ValidationSummary()</p>
        <input type="submit" class="boton" value="Agregar" />
        <a class="link" href="~/Home/VerAlumnos"><input class="boton" type="button" value="Cancelar" /></a>

    </form>
</div>
