@model u4_2_RolesUsuario.Models.Maestro
@{
    Layout = "_Layout";
}



<div class="central">
    <h2 class="titulo">Agregar docente</h2>
    <form method="post" action="~/Home/AgregarDocente">
        <table class="tabla">
            <tr>
                <td>
                    <label id="nombremaestro">Nombre del docente:</label>
                </td>
                <td>
                    <input class="field" type="text" id="txtIniciarSesion" name="nombre" required asp-for="Nombre" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Correo:</label>
                </td>
                <td>
                    <input class="field" type="email" id="txtIniciarSesion" required asp-for="CorreoElectronico" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Grupo:</label>
                </td>
                <td>
                    <input class="field" type="text" id="txtIniciarSesion" name="grupo" required asp-for="Grupo" /><br /><br />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Contraseña:</label>
                </td>
                <td>
                    <input class="field" type="password" id="txtPassword" name="contrasena1" required /><br /><br />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Confirmar contraseña:</label>
                </td>
                <td>
                    <input class="field" type="password" id="txtPassword" name="contrasena2" required /><br />
                </td>
            </tr>
        </table>
               

        @Html.ValidationSummary()
        <input class="boton" type="submit" value="Agregar" />
        <a href="~/Home/VerMaestros" class="link"><input class="boton" type="button" value="Cancelar" /></a>

    </form>
</div>
