@model u4_2_RolesUsuario.Models.Maestro
@{
    Layout = "_Layout";
}



<div class="central">
    <h2 class="titulo">Editar Maestro</h2>
    <form method="post" action="~/Home/EditarMaestro">
        <input type="hidden" asp-for="Id" />
        <table class="tabla">
            <tr>
                <td>
                    <label id="nombremaestro">Nombre del maestro:</label>
                </td>
                <td>
                    <input class="field" type="text" id="txtIniciarSesion" name="nombre" required asp-for="Nombre" /><br /><br />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Correo:</label>
                </td>
                <td>
                    <input class="field" type="email" id="txtIniciarSesion" required asp-for="CorreoElectronico" /><br /><br />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Grupo del maestro:</label>
                </td>
                <td>
                    <input class="field" readonly="readonly" type="text" id="txtIniciarSesion" name="grupo" required asp-for="Grupo" /><br /><br />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Contraseña del maestro:</label>
                </td>
                <td>
                    <input class="field" type="password" id="txtPassword" name="contrasena1" required /><br /><br />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Confirmar contraseña:</label>
                </td>
                <td>
                    <input class="field" type="password" id="txtPassword" name="contrasena2" required /><br /><br />
                </td>
            </tr>            
        </table>
        <div class="activocheck">
            <input  id="activocheck" type="checkbox" name="activo" value="true" />
            <label for="activocheck">Activar Maestro</label>
        </div>
       
        @Html.ValidationSummary()
        <input class="boton" type="submit" value="Guardar" />
        <a href="~/Home/VerMaestros" class="link"><input class="boton" type="button" value="Cancelar" /></a>

    </form>
</div>