
@{
    Layout = "_Layout";
}

<h2 id="titulo">Menú Inicial</h2>

<div>
    <form method="post" action="~/Home/IniciarSesion">
        @if (User.IsInRole("Director"))
        {
            
            <a href="~/Home/VerMaestros" class="link">
                <input type="button" class="botonprincipal" value="Ver maestros" />
                </a><br />
        }
        
        <a href="~/Home/VerAlumnos" class="link">
            <input type="button" class="botonprincipal" value="Ver alumnos" />
        </a>

    </form>
</div>
