
@{
    Layout = "_Layout";
}



<div class="central">
    <h2 class="titulo">Iniciar Sesión</h2>
    <form method="post" action="~/Home/IniciarSesion">
       
        <table class="tabla">           
            <tr>
                <td>
                    <label>Correo electrónico:</label>
                </td>
                <td>
                    <input class="field" type="email" name="correo" id="txtIniciarSesion" required />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Contraseña:</label>
                </td>
                <td>
                    <input class="field" type="password" id="txtPassword" name="password" required />
                </td>
            </tr>
        </table>
      
        <p>@Html.ValidationSummary()</p>
        <input class="boton" type="submit" value="Iniciar Sesión" />

    </form>
</div>