@model IEnumerable<u4_2_RolesUsuario.Models.Maestro>

@{
    Layout = "_Layout";
}



<div class="central">
    <h2 class="titulo">Maestros de la institución</h2>
    <table class="tabla">
        <colgroup>
            <col style="width:20%" />
            <col style="width:60%" />
            <col style="width:20%" />
        </colgroup>
      
        <thead>
            <tr>
                <th>Activo</th>
                <th>Nombre</th>
                <th>Editar</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td  style="text-align:center;">@item.Activo</td>
                    <td  class="nombre" style="text-align:center;">@item.Nombre</td>
                    <td  style="text-align:center;">
                        <a class="link" href="/Home/EditarMaestro/@(item.Id)">Editar</a>
                    </td>
                </tr>
            </tbody>
        }
          <caption class="agregar" >
            <a class="link" href="~/Home/AgregarDocente" id="b">Agregar</a><br />
        </caption>
    </table>

</div>